{% extends 'base.html'  %}
{% block title %}
New Post
{% endblock%}
{% block content %}

<h1 class="container">New Post for {{user.first_name}} {{user.last_name}}</h1>
<div class="container">
<form action="/users/{{user.id}}/posts/new" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea type="text" name="content"cols="30" rows="10" class="form-control"></textarea>
    </div>

    <fieldset class="mb-3">
        <legend class="mb-3">Add a Tag:</legend>
        {% for tag in tags %}
        <div class="mb-1">
            <input type="checkbox" name="tags" id="{{tag.name}}" value="{{tag.id}}" class="form-check-input">
            <label for="{{tag.name}}" class="form-check-label">{{tag.name}}</label>
        </div>
        {% endfor %}
    </fieldset>
    
    <a href="/users/{{user.id}}" class="btn btn-primary">Cancel</a>
    <button class="btn btn-primary">Add</button>
</form>
</div>
{% endblock %}