{% extends 'base.html'  %}
{% block title %}
Edit {{post.title}}
{% endblock%}
{% block content %}
<div class="container">
    <h1>Edit {{post.title}}</h1>
<form action="/posts/{{post.id}}/edit" method="POST" class="">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" placeholder="{{post.title}}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea type="text" name="content" id="content" cols="30" rows="5" class="form-control"></textarea>
    </div>

    <fieldset>
        <legend>Add a Tag:</legend>
        {% for tag in tags %}
        <div class="mb-1">
            <input type="checkbox" name="tags" id="{{tag.name}}" value="{{tag.id}}" {% if tag in post.tags %} checked {% endif %}
            class="form-check-input">
            <label for="{{tag.name}}" class="form-check-label">{{tag.name}}</label>
        </div>
        {% endfor %}
    </fieldset> 
    <a href="/posts/{{post.id}}" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary">Edit</button>
</form>
</div>
{% endblock %}