{% extends 'base.html'  %}
{% block title %}
Edit {{user.first_name}}
{% endblock%}
{% block content %}

<div class="container">
    <h1 class="mb-5">Edit {{user.first_name}} {{user.last_name}}</h1>
    <form action="/users/{{user.id}}/edit" method="POST">
        <div class="mb-2">
            <label for="{{user.first_name}}">First Name:</label>
            <input type="text" name="first_name" id="{{user.first_name}}" class="form-control">
        </div>  
        <div class="mb-2">
            <label for="{{user.last_name}}">Last Name:</label>
            <input type="text" name="last_name" id="{{user.last_name}}" class="form-control">
        </div>
        <div class="mb-2">
            <label for="image_url">Image URL:</label>
            <input type="text" name="image_url" id="image_url" class="form-control">
        </div>
    <a href="/users/{{user.id}}" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary">Save</button>
</form>
</div>
{% endblock %}