{% extends 'base.html' %}
{% block title %}
{{tag.name}}
{% endblock %}
{% block content %}
<div class="container">
<h1>{{tag.name}}</h1>

{% if posts %}
<ul>
    
    {% for post in posts %}
    {% if post.id %}
    <li><a  href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No posts</p>
{% endif %}
            <form action="/tags/{{tag.id}}/edit">
                <button class="btn btn-secondary">Edit</button>
            <form action="/tags/{{tag.id}}/delete" method="POST">
                <button class="btn btn-primary"
                formaction="/tags/{{tag.id}}/delete"
                formmethod="POST">Delete</button>
            </form>
</div>
{% endblock %}