{% extends 'base.html'  %}
{% block title %}
 {{user.first_name}}
{% endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col mb-3">
            <img src={{user.image_url}} alt="User image" class="img-thumbnail">
        </div>
        <div class="col">
            <h1 class="mb-3">{{user.first_name}} {{user.last_name}}</h1>

            <form action="/users/{{user.id}}/edit" class="mb-2">
                <button class="btn btn-primary">Edit</button>
            </form>
            <form action="/users/{{user.id}}/delete" method="POST" class="mb-2">
                <button class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <form action="/users/{{user.id}}/posts/new" method="GET">
        <button class="btn btn-primary">Add Post</button>
    </form>
</div>
{% endblock %}